@model IEnumerable<LibraryMVC.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books Available</h1>

<p>
    <a asp-action="Create">Add a New Book</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Author
            </th>
            <th>
                Book Code
            </th>
            <th>
                Cover
            </th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Tools </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallNumber)
            </td>
            <td>
                    <img src="/images/@item.imgfile" style="width:50px" />
             </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
